<div class="charts-container">
  <h1 class="title">Vaccination stats</h1>
  <div class="states-dropdown-wrapper">
    <mat-form-field appearance='fill'>
        <mat-label>Select a date</mat-label>
        <mat-select (selectionChange)="onDateChange()" [(ngModel)]="selectedDate">
          <mat-option *ngFor="let date of weeksOfAllocation" [value]="date">{{date | date: 'short'}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select a state</mat-label>
      <mat-select (selectionChange)="onStateChange()" [(ngModel)]="selectedState">
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="charts-wrapper">
    <div class="bar-chart-wrapper chart-wrapper" *ngIf="weeklyVaccineAllocation">
      <app-weekly-allocation-chart [data]="weeklyVaccineAllocation"></app-weekly-allocation-chart>
    </div>
    <div class="pie-chart-wrapper chart-wrapper">
      <app-weekly-allocation-by-start-chart [data]='weeklyVaccineAllocationByState'></app-weekly-allocation-by-start-chart>
    </div>
  </div>
</div>
