.charts-container {
  .title {
    padding: 2px 20px;
  }

  .states-dropdown-wrapper {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    gap: 50px;
  }

  .charts-wrapper {
    display: flex;

    .chart-wrapper {
      flex: auto;
    }
    .bar-chart-wrapper {
      flex: 2;
      overflow-y: scroll;
    }
  }
}
