<mat-drawer-container autosize>
  <mat-drawer class="side-nav" #drawer mode='side'>
    <p>Arrow</p>
    <mat-nav-list>
      <a routerLink="" routerLinkActive='active"' mat-list-item>
        Charts
      </a>
      <a routerLink="/tables" routerLinkActive="active" mat-list-item>
        Tables
      </a>
    </mat-nav-list>
  </mat-drawer>
  <section class="main-content-wrapper">
    <mat-toolbar color="primary">
      <button mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
      </button>
      <div class="main-content">

      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </section>
</mat-drawer-container>
