<div class="table-wrapper">
    <h1 class="title">Earthquake stats</h1>
    <div class="filter-wrapper">
        <mat-form-field appearance='fill'>
            <mat-label>Select a maginutude</mat-label>
            <mat-select matNativeControl (selectionChange)="onMaginitudeChange()" [(ngModel)]="selectedMagnitude">
                <mat-option [value]=''>Select a maginutude</mat-option>
                <mat-option *ngFor="let maginitude of maginutudes" [value]="maginitude">{{maginitude}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="earthquake-table">
        <app-earthquake-table>
        </app-earthquake-table>
    </div>
</div>